<br>
<H1 align="center">Test Dynamic Component</H1>

<mat-tab-group mat-align-tabs="center" style="margin-left: 10%; margin-right: 10%">
  <mat-tab label="Demo 1">
    <h3>General usage</h3>
    <div style="margin: 12px 12px 12px 12px">
      <ng-container
        [ngxDyncCmp]="component"
        [inputs]="todoInputs"
        [outputs]="todoOutputs">
      </ng-container>
    </div>
    <div>
      <p>Sync: </p>
      <p>{{todoInputs | json}}</p>
      <p>OnSlected: </p>
      <p>{{todoChange | json}}</p>
    </div>
  </mat-tab>
  <mat-tab label="Demo 2">
    <h3>ngFor usage</h3>
    <div *ngFor="let item of todos" style="margin: 12px 12px 12px 12px">
      <ng-container [ngxDyncCmp]="component"
        [inputs]="item"
        [outputs]="todosOutputs">
      </ng-container>
    </div>
    <div>
      <p>Sync: </p>
      <p>{{todos | json}}</p>
      <p>OnSlected: </p>
      <p>{{todoChanges | json}}</p>
    </div>
  </mat-tab>
  <mat-tab label="Demo 3">
    <h3>Dynamic Create Component</h3>
    <button mat-raised-button color="primary" (click)="create()">Manually Create</button>
    <div class="todo">
      <ng-template #area1></ng-template>
    </div>
  </mat-tab>

  <mat-tab label="Demo 4">
    <h3>Dynamic Create Component</h3>
    <button mat-raised-button color="primary" (click)="update()">Update Data</button>
    <div class="todo">
      <ng-container [ngxDyncCmp]="component2" [inputs]="todoInputs2"></ng-container>
    </div>
  </mat-tab>


</mat-tab-group>

<router-outlet></router-outlet>